<div data-options="dxView: {name: 'function', title: 'Fonction'}">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div id="resizeImage" class="floatPanel wrapper">
            <h3>
                <em class="fa fa-times"></em>
                Diminuer une image à des grandeurs prédéfinie!
            </h3>
            <div id="fileUploader"></div>
            <div id="fileStat"></div>
            <img id="showImage" alt="show image" />
            <div id="fileResize" />
        </div>
	    <h3>Fonction pour aider à certaine manipulation</h3>
        <br /><br />
        <div id="btnResizeImage" />
    </div>
</div>
