<div data-options="dxView: {name: 'home', title: 'Accueil'}">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
	    <h3>Vous utilisez la librairie cause.js</h3>
        <br />
        <div>Cette librairie à été créé par cause pour facilité la création de site/application web.</div>
        <br /><br />
        <div>Vous pouvez exécuter des commandes ici (l'élément avec le ID "cause-demo" est disponible pour afficher votre contenu).</div>
        <textarea id="runCode" style="width:100%;height:100px;"></textarea>
        <div id="clickRun"></div>
        <br /><br />
        <div id="cause-console"></div>
        <div id="cause-demo"></div>
    </div>
</div>
