<div data-options="dxView: {name: 'password', title: cause.localize('changePassword')}">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
	    <br />
        <form method="POST" data-bind="attr: {action: selectAction()}">
			<div data-bind="dxTextBox: { mode: 'password', name: 'password', placeholder: cause.localize('password')}, dxValidator: {validationRules: [
        			{ type: 'stringLength', min: 8 }
        		]}">
			</div>
			<div data-bind="dxTextBox: { mode: 'password', name: 'confirmPassword', placeholder: cause.localize('confirmPassword')}, dxValidator: {validationRules: [
        			{ type: 'compare', comparisonTarget: comparisonTarget }
        		]}">
			</div>
	        <br />
	        <input type="submit" name="submit" data-bind="attr: {value: cause.localize('changePassword')}" />
        </form>
	    <br />
	    <div class="error" data-bind="text: msgLogin"></div>
    </div>
</div>